.title {
    -fx-font-family: Tahoma;
    -fx-font-size: 40px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #2196f3 0%, #694A97 100%);
}

.box-chooser {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-background-color: #FFF;
    -fx-background-radius: 10
}

.box-chooser:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-cursor: hand
}

.pane-chooser {
    -fx-background-radius: 10
}

.btn-chooser {
    -fx-background-color: #FFF;
    -fx-text-fill: #2196f3;
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
    -fx-border-width: 0
}

.title-chooser {
    -fx-font-size: 26px;
    -fx-text-fill: #FFF;
    -fx-text-alignment: center
}

.about-icon:hover {
    -fx-cursor: hand;
    -fx-fill: #2196f3;
}